
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h1><b><i>CONTACT US</i></b></h1> <br /> <br />

    <h7><b>Telephone : -----</b></h7> <br /><br />

    <h7><b>EMAIL : -----</b></h7> <br /><br />

    <h7><b>SOCIAL MEDIA : -----</b></h7> <br /> <br />
</div>

