
@{
    ViewBag.Title = "NewMark";
}

<form method="post" class="form-group">
    <div>
        <label class="text-warning">STUDENT ID</label>
        <input type="text" class="form-control" name="STDID" />
    </div>

    <div style="margin-top:10px">
        <label class="text-warning">LECTURE ID</label>
        <input type="text" class="form-control" name="LECTUREID" />
    </div>

    <div style="margin-top:10px">
        <label class="text-warning">EXAM 1</label>
        <input type="text" class="form-control" name="EXAM1" />
    </div>

    <div style="margin-top:10px">
        <label class="text-warning">EXAM 2</label>
        <input type="text" class="form-control" name="EXAM2" />
    </div>

    <div style="margin-top:10px">
        <label class="text-warning">EXAM 3</label>
        <input type="text" class="form-control" name="EXAM3" />
    </div>

    <div style="margin-top:10px">
        <label class="text-warning">PROJECT</label>
        <input type="text" class="form-control" name="PROJECT" />
    </div>

    <div style="margin-top:10px">
        <label class="text-warning">AVERAGE</label>
        <input type="text" class="form-control" name="AVERAGE" />
    </div>

    <div style="margin-top:10px">
        <label class="text-warning">SITUATION</label>
        <input type="text" class="form-control" name="SITUATION" />
    </div>

    <div style="margin-top:10px">
        <button class="btn btn-success">Add Mark</button>
    </div>
</form>


