
@{
    ViewBag.Title = "AddNewClub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label class="text-warning">CLUB NAME</label>
        <input type="text" class="form-control" name="CLUBNAME" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-success">Add</button>
    </div>
</form>
